if SHIELD_SPEEDY_O_LEFT

config ZMK_KEYBOARD_NAME
    default "Speedy-O"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPEEDY_O_LEFT || SHIELD_SPEEDY_O_RIGHT

config ZMK_SPLIT
    default y

endif
